body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PingFangTC";
  src: url("./components/font/PingFang-TC-Medium-2.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LiGothicMed";
  src: url("./components//font/蘋果儷中黑.TTF");
  font-weight: normal;
  font-style: normal;
}
