@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Open+Sans&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PingFangTC";
  src: url("./components/font/PingFang-TC-Medium-2.otf");
  font-weight: normal;
  font-style: normal;
}
